{% extends "base.html" %}
{% block content %}
<h1>Products List</h1>
<div class="container1">
    <div class="row">  <!-- Add gutter class to increase space -->
        {% for product in products %}
        <div class="col-md-5">  <!-- Remove inline style for margin-bottom -->
            <div class="card h-100">  <!-- Keep card height consistent -->
                <div class="card-body">
                    <h5 class="card-title">{{ product.title }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <h6>${{ product.price }}</h6>
                    <a href="#" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
